.all_page_upload {
    border-radius: 20px;
    background-color: #f7eceb;
    position: fixed;
    height: 80%;
    width: 72%;
    margin: 5% 14%;
}

.left {
    border-top-left-radius: 20px;
    background-color: #545871;
    position: fixed;
    height: 80%;
    width: 30%;
    border-bottom-left-radius: 20px;
    padding: 10px;
}

.right {
    width: 45%;
    float: right;
}

.graduate {
    height: auto;
    width: 89%;
    margin: 8% 6%;
    opacity: .7;
}

.titlu_right {
    font-size: 25px;
    line-height: 3.429;
    color: #545871;
    font-family: 'Roboto';
    font-weight: 700;
}

#videofile {
    color: #b3b1bb;
    border: 1px solid #ccc;
    padding: 6px 12px;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 12px;
}

.form-control {
    margin-bottom: 12px;
    width: 92%;
    opacity: 0.5;
}