.all_page_upload {
    border-radius: 20px;
    background-color: #f7eceb;
    position: fixed;
    height: 80%;
    width: 72%;
    margin: 5% 14%;
}

.left {
    border-top-left-radius: 20px;
    background-color: #545871;
    position: fixed;
    height: 80%;
    width: 30%;
    border-bottom-left-radius: 20px;
    padding: 10px; /* se poate modifica la imagine */
}

.right {
    width: 42%;
    /*margin-left: 489px;
    padding: 12px;*/
    float: right;
}

.graduate {
    height: auto;
    width: 89%;
    margin: 8% 6%;
    opacity: .8;
}

.titlu {

}