.App-logo{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.footer{
    width: 100%;
    height: auto;
    overflow: hidden;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
}

.menu{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding-right: 150px;
  overflow: hidden;
  float: right;
}

.menu li {
  float: left;
}

.menu li a {
  display: block;
  color: #9B9DA2;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #BD4CB8;
}

.content-right{
    height: auto;
    padding-right: 20px;
    padding-top: 20px;
    overflow: hidden;
    float: right;
}

.stele{
    width: 70%;
    height: auto;
    overflow: hidden;
}

.poza{
    width: 100%;
}

.container{
    padding-left: 190px;
    padding-top:25px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}


  @media (min-height: 640px) and (min-width: 480px) {
      .container{
          padding-left: 88px;
          padding-top: 80px;
          padding-right: 15px;
          margin-right: auto;
          margin-left: auto;
      }

        .stele{
            width: 0%;
            height: auto;
            overflow: hidden;
        }

        .menu{
            width: 110%;
            height: auto;
            overflow: hidden;
        }

        .menu ul {
          list-style-type: none;
          margin: 0;
          padding-right: 150px;
          overflow: hidden;
          float: right;
          padding-top: 45px;
        }
    }

    @media (min-height: 1024px) and (min-width: 768px) {
          .App-logo{
              width: 200%;
              height: auto;
              overflow: hidden;
          }

          .menu{
               width: 89%;
               height: auto;
               overflow: hidden;
          }

          .menu ul {
            list-style-type: none;
            margin: 0;
            padding-right: 150px;
            overflow: hidden;
            float: right;
            padding-top: 65px;
          }

          .footer{
              width: 200%;
              height: auto;
              overflow: hidden;
              position:absolute;
              left:0;
              bottom:0;
              right:0;
          }

          .container{
                padding-left: 227px;
                padding-top: 169px;
                padding-right: 15px;
                margin-right: auto;
                margin-left: auto;
            }

            .stele{
                width: 0%;
                height: auto;
                overflow: hidden;
            }

        }



