.App-logo{
    width: 100%;
    height: auto;
    overflow: hidden;
}

 .footer {
 width: initial;
 background-repeat: no-repeat;
 max-width: initial;
 max-height: initial;
 background-size: contain;
 background-position: center;
 }