
.popup {
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9998;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 34%;
  right: 34%;
  top: 10%;
  bottom: 4%;
  margin: auto;
  background-color: #FFF;
  border: none;
  border-radius: 6px;
}
.bienvenue{
   border-bottom: solid 1px #DEDFE0;
   border-top-left-radius: 6px;
   border-top-right-radius: 6px;
   color: #29303B;
   display: block;
   font-weight: 600;
   font-size: 15px;
   padding: 24px 64px 24px 24px;
   font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

form{
    margin-left: 10px;
    padding: 24px 64px 24px 24px;
}

#fname{
    margin-bottom: 15px;
    margin-top: 34px;
    width: 100%;
    border-radius: 5px;
    color: #29303B;
    font-size: 16px;
}

#parola{
    margin-bottom: 15px;
    width: 100%;
    border-radius: 5px;
    color: #29303B;
    font-size: 16px;
}

#exit{
    margin-right: 65px;
    float: right;
    margin-top: -50px;
}

#log{
    margin-top: 30px;
    float: left;
}

.elev1{
    width: 50%;
    height: auto;
    padding-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.logare{
    margin-left: auto;
    margin-right: auto;
    width: 270px;
}